.dark {
    background-color: black;
    color: gainsboro;
}

button.dark {
    background-color: gainsboro;
    color: black;
}

.light {
    background-color: gainsboro;
    color: black;
}

button.light {
    background-color: black;
    color: gainsboro;
}

h2.light {
    color: black;
}